
<div class="row row-content">
    <div class="col-xs-12 col-sm-2">
        <h6>Сomment Number:  @ViewBag.Comment.Id</h6>
</div>
    <div class="col-xs-12 col-sm-10">
        <p style="padding:20px;"></p>
        <h4>@ViewBag.Comment.Content</h4>
</div>
    </div>
